At <%= Time.now %> <%= @comment.author %> (<%= @comment.author_email %>) posted the following comment for the entry "<%= @comment.article.title %>":

"<%= @comment.body %>"

The commenter's IP address was <%= @comment.author_ip %>.

---
This notification was sent using the Mephisto Comment notification plugin by Luke Redpath.
svn://lukeredpath.co.uk/var/svn/plugins/mephisto_comment_notification/trunk